@using PomoćniProjekatGamingHub.EntityModels
@model List<IgraPrikazVM>

<h1>Igre</h1>
<a href="/Igra/Uredi" class="btn btn-success">Dodaj</a>

<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Slika</th>
            <th>Naziv</th>
            <th>Izdavac</th>
            <th>Developer</th>
            <th>Datum Izlaska</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IgraPrikazVM i in Model)
        {
        <tr>
            <td>@i.Id</td>
            <td>
                @if (!string.IsNullOrEmpty(i.SlikaLink))
                {
                    <img src="@i.SlikaLink" style="max-width:100px; max-height:100px" />
                }
                else
                {
                    <img src="~/img/no-game.jpg" style="max-width:100px; max-height:100px" />
                }
            </td>
            <td>@i.Naziv</td>
            <td>@i.Izdavac</td>
            <td>@i.Developer</td>
            <td>@(i.DatumIzlaska?.ToString("dd.MM.yyyy"))</td>
            <td>
                <a href="/Igra/Detalji?IgraID=@i.Id" class="btn btn-primary">Detalji</a> |
                <a href="/Igra/Uredi?IgraID=@i.Id" class="btn btn-primary">Uredi</a> |
                <a href="/Igra/Obrisi?IgraID=@i.Id" class="btn btn-danger">Obrisi</a>
            </td>
        </tr>
        }

    </tbody>
</table>